*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/background-body.jpg);
}

.background-header{
    background-color: #eaeaea;
}

.border{
    border: 1px solid gray;
}

.propic-size{
    width: 75px;
    height: 75px;
}

i{
    font-size: 20pt;
    color: #b1b1b1;
}

i:hover{
    cursor: pointer;
    color: grey;
}

.last-seen{
    font-size: 10pt;
    color: #b1b1b1;
}

.last-seen:hover{
    cursor: pointer;
    text-decoration: underline;
}

.active-item{
    background-color: lightgray;
}

.bg-chat{
    background-image: url(../img/mine.jpg);
    background-size:auto;
    background-attachment: fixed;
    height: 750px;

}

.msg{
    border-radius: 10px;
    width: fit-content;
}

.sent{
    background-color: #d5f9ba;
    align-self: flex-end;
}

.received{
    background-color: white;
}