<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex align-items-center mt-4">
                    <!--SEZIONE UTENTE-->
                    <div class="col-5 background-header border d-flex align-items-center justify-content-between" id="utente">
                        <div class="d-flex align-items-center">
                            <img src="./img/avatar_io.jpg" alt="propic" class="rounded-circle propic-size m-2">
                            <h5>Sofia</h5>    
                        </div>
                        <div>
                            <i class="fas fa-circle-notch m-2"></i>
                            <i class="fas fa-message m-2"></i>
                            <i class="fa-solid fa-ellipsis-vertical m-2"></i>
                        </div>
                    </div>
                     <!--SEZIONE DESTINATARIO-->
                    <div class="col-7 background-header border d-flex align-items-center justify-content-between" id="destinatario">
                        <div class="d-flex align-items-center">
                            <img :src="contacts[activeChat].avatar" alt="propic" class="rounded-circle propic-size m-2">
                            <div class="d-flex flex-column justify-content-end">
                                <h5 class="m-0">{{contacts[activeChat].name}}</h5>
                                <p class="last-seen m-0">ultimo accesso alle {{ contacts[activeChat].lastSeen }}</p>
                            </div>
                        </div>
                        <div>
                            <i class="fas fa-magnifying-glass m-2"></i>
                            <i class="fas fa-paperclip m-2"></i>
                            <i class="fa-solid fa-ellipsis-vertical m-2"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex">
                    <div class="col-5 bg-light">
                    <!--BANNER ATTIVA NOTIFICHE-->
                    <div class="col-12 d-flex align-items-center" id="notifiche" style="background-color: #8edafc;">
                        <div class="rounded-circle bg-light m-3">
                            <i class="fas fa-bell-slash m-2 p-1" style="color: #8edafc;"></i>
                        </div>
                        <div>
                            <h5 class="m-0">Ricevi notifiche di nuovi messaggi</h5>
                            <p class="last-seen m-0">Attiva notifiche desktop</p>
                        </div>
                    </div>
                        <!--SEARCHBAR CHAT-->
                        <div class="input-group bg-light p-2">
                            <span class="input-group-text" id="inputGroup-sizing-default">
                                <i class="fas fa-magnifying-glass"></i>
                            </span>
                            <input type="text" class="form-control" v-model="searchText" @input="searchChat" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Search chat...">
                          </div>
                          <!--LISTA CHAT-->
                          <ul class="list-group overflow-y-scroll" style="height: 670px;">
                            <li v-for="(contact, index) in contacts" v-show="contact.visible" class="list-group-item" aria-current="true" :class="activeChat === index ? 'active-item' : ''" @click="changeChat(index)">
                                <div class="d-flex align-items-center">
                                    <img :src="contact.avatar" alt="propic" class="rounded-circle propic-size m-2">
                                    <div class="d-flex flex-column justify-content-end">
                                        <h5 class="m-0">{{contact.name}}</h5>
                                        <p class="last-seen m-0">Ultimo messaggio inviato {{ contact.messages[contact.messages.length - 1].date }}</p>
                                    </div>
                                </div>
                            </li>
                          </ul>
                    </div>
                    <!--CHATROOM-->
                    <div class="col-7">
                        <div class="bg-chat overflow-y-scroll">
                            <div class="col-12 d-flex justify-content-end flex-column">
                                <div
                                  class="col-12 msg m-3"
                                  v-bind:class="{ 'sent': message.status === 'sent', 'received': message.status === 'received' }"
                                  v-for="(message, index) in contacts[activeChat].messages"
                                  :key="index">
                                  <div class="dropdown-btn">
                                    <button class="dropdown-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a class="dropdown-item" href="#">Info Messaggio</a></li>
                                      <li><a @click="deleteMessage(contacts[activeChat], index)" class="dropdown-item" href="#">Elimina Messaggio</a></li>
                                    </ul>
                                  </div>
                                  <p class="p-2 mb-0 text-start">{{ message.message }}</p>
                                  <div class="col-12 mt-0 last-seen p-1 text-end">
                                    {{ message.date }}
                                  </div>
                              </div>
                            </div>
                     </div>
                        <!--AREA MESSAGGIO-->
                        <div class="col-12 bg-light d-flex justify-content-between p-2">
                            <div class="col-1 d-flex align-items-center justify-content-center">
                                <i class="fa-regular fa-face-smile"></i>
                            </div>
                            <div class="col-10 d-flex align-items-center justify-content-center">
                                <input v-model="newMessage" @keyup.enter="addMessage" class="form-control p-2" type="text" placeholder="Scrivi un messaggio" aria-label="default input example">
                            </div>
                            <div class="col-1 d-flex align-items-center justify-content-center">
                                <i class="fas fa-microphone"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script src="./js/javascript.js"></script>
</body>
</html>






